.lightmode {
  background-color: #999999;
  color: #333;
  transition: background-color 0.25s ease-out;
}

.darkmode {
  background-color: #191919;
  color: #999;
  transition: background-color 0.25s ease-out;
}

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
  z-index: 99999;
}

.toggle-container {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding: 20px 0 20px 20px;

  > .day-night-switch {
    cursor: pointer;
  }

  @media only screen and (min-width: 730px) and (max-width: 1024px) {
    padding: 10px 0 0 0;
  }
}

.toggle-container > span {
  font-size: 1.2em;
  background: none;
  border: none;
  transition: color 0.3s ease;
  margin-top: 4px;
  margin-right: 2px;
}

.toggle-container > span:last-child {
  margin-top: 5px;
  padding-right: 1rem;
}

input[type="checkbox"].day-night-switch {
  width: 40px;
  height: 18px;
  background: #ffd058;
  position: relative;
  border-radius: 37px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type="checkbox"].day-night-switch:checked {
  background: rgb(77, 66, 149);
}

input[type="checkbox"].day-night-switch:checked + label {
  transform: translate(22px, 0px);
  border-radius: 100%;
  background: slateblue;
  transition: all 0.3s ease;
}

input[type="checkbox"].day-night-switch:focus-visible {
  outline: solid 2px white;
}

input[type="checkbox"].day-night-switch + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  opacity: 0.9;
  background-color: #ffeb3b;
  margin: 0;
}
