@use "sass:math";

@function toRem($value) {
  $remValue: math.div($value, 16) + rem;
  @return $remValue;
}

.intro {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  width: 60%;
  padding-top: toRem(200);
  padding-bottom: toRem(200);

  //Mobile
  @media only screen and (min-width: 209px) and (max-width: 850px) {
    width: 80%;
    padding: 0 0 toRem(50) 0;
  }

  .intro__hello {
    display: flex;
    flex-direction: row;
    font-size: toRem(36);
    padding-bottom: toRem(100);

    // tablet
    @media only screen and (min-width: 730px) and (max-width:1024px) {
      font-size: toRem(30);
      padding-bottom: toRem(20);
    }

    @media only screen and (min-width: 375px) and (max-width:729px) {
      font-size: toRem(28);
      line-height: 40px;
      padding-bottom: toRem(30);
    }

    //Mobile
    @media only screen and (min-width: 209px) and (max-width:374px) {
      font-size: toRem(20);
      line-height: 40px;
      padding-bottom: toRem(10);
    }
  }


  .intro__para {
    font-size: toRem(36);
    padding-bottom: toRem(100);

    // tablet
    @media only screen and (min-width: 730px) and (max-width:1024px) {
      font-size: toRem(30);
      padding-bottom: toRem(20);
    }

    @media only screen and (min-width: 375px) and (max-width:729px) {
      font-size: toRem(28);
      padding-bottom: toRem(30);
    }

    //Mobile
    @media only screen and (min-width: 209px) and (max-width:374px) {
      font-size: toRem(20);
      padding-bottom: toRem(10);
    }
  }

  .intro__touch {
    display: flex;
    flex-direction: row;

    p {
      font-size: toRem(20);
    }
  }
}