  @use "sass:math";

  @function toRem($value) {
    $remValue: math.div($value, 16) + rem;
    @return $remValue;
  }

  // Skills
  .skill {
    .skills {
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;

      ul {
        padding-left: 0;
      }

      @media only screen and (max-width: 630px) {
        flex-wrap: wrap;
      }

      &__type {
        @media only screen and (max-width: 700px) {
          width: 48%;
          margin-right: 5px;
          margin-bottom: 25px;
        }

        &--header {
          font-weight: 700;
          text-transform: capitalize;
          @media only screen and (min-width: 209px) and (max-width:700px) {
            font-size: toRem(16);
          }
        }

        &--item {
          margin: 3px 0;
          font-size: 0.9rem;
        }
      }
    }
  }